{
 :db {:dbname "cookbook"
      :host "localhost"
      :user "cookbook"
      :password "cookbook"
      }
 :migratus {:store :database
            :migration-dir "migrations"
            }
 :server {:port 8080
          :join? false
          }
 }